{% extends "_base.html" %}
{% block nav_contact %}current{% endblock %}
{% block content %}
<p style ="text-align: center;">Email me at "getintouch at starogen.com" or <a href="https://github.com/AustinOldham/Starogen/issues">submit an issue on GitHub</a></p>
<iframe style="padding-bottom:100px" class="center" src="https://discord.com/widget?id=614174358293839873&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
{% endblock %}